.mainPageLink {
  display: flex;
  padding: $space-l;
  margin-top: $space-l;
  background: $inverse;
  border-radius: 4px;
  flex: 0 1 calc(50% - 16px);

  transition: box-shadow 0.3s;

  @include media(mobiles, tablets, laptops) {
    padding: $space-m $space-s;
    flex-direction: row-reverse;
    flex: 0 1 100%;
    justify-content: flex-end;
  }

  box-shadow: 1px 1px 37px -23px rgba(34, 60, 80, 0.2);

  &:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    
    .svgIcon {
      margin-left: 8px;
    }
  
    .fakeLink {
      color: $textPrimary;
    }
  }

  .icon {
    width: 30%;
    height: auto;
    max-width: 168px;
    max-height: 128px;
    margin-left: auto;

    @include media(desktops, larges) {
      width: 40%;
    }

    @include media(tablets, laptops) {
      width: 40%;
      max-width: 73.5px;
      max-height: 56px;
      margin: 0 $space-l 0 0;
    }

    @include mobiles {
      max-width: 73.5px;
    }
  }
}

.fakeLink {
  display: inline-block;
}

.mainPageLinkContent {
  display: flex;
  flex-direction: column;
}

.mainPageLinkContentLink {
  display: flex;
  color: $brandRed;
  flex: 1 1;
  align-items: flex-end;
  font-weight: 500;
  text-decoration: none;


  @include media (mobiles, tablets, laptops) {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    .mainPageLinkContentLinkInner {
      display: none;
    }
  }
}

.mainPageLinkContentLinkInner {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.svgIcon {
  fill: $brandRed;
  transform: rotate(-90deg);
  margin-left: 4px;
  margin-top: 3px;
  transition: all 0.3s;
}

.title {
  font-size: $font-size-3;
  font-weight: 700;
  line-height: $line-height-3;
  color: $textPrimary;

  @include media(desktops, larges) {
    font-size: $font-size-2;
  }

  @include media (mobiles, tablets, laptops) {
    font-size: $font-size-1;
  }
}

.subTitle {
  font-family: $fontPrimary;
  font-size: $font-size-1;
  line-height: $line-height-2;
  color: $textParagraphs;
  margin-top: $space-s;

  b {
      font-weight: 500;
      color: $primary;
  }

  @include media(mobiles, tablets, laptops) {
    font-size: $font-size-small;
  }
}