.wrapper {
    display: grid;
    min-width: 320px;
    grid-template-columns: 336px calc(100% - 336px - 336px) 336px;
    grid-template-areas:
        "h h h"
        "n c s"
        "n f f";

    @include media(desktops, largeDesktops) {
        grid-template-columns: 265px calc(100% - 265px - 265px) 265px;
        grid-template-areas:
            "h h h"
            "n c c"
            "f f f";
        display: grid;
        min-width: 320px;
    }

    @include media(mobiles, tablets, laptops) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "c"
            "f";
    }
    
}

.main {
    grid-area: c;
}