.bannerContent {
  position: relative;
  padding: 0 $space-xxl;

  @include desktops {
    padding: 0 $space-m space-m;
  }
}

.bannerTop {
  display: flex;
  padding: $space-l $space-l $space-xl;
  background: $background2;
  border-radius: 4px;
  align-items: center;

  img {
    width: 50%;
    margin-top: -64px;
  }

  @include desktops {
    img {
      width: 45%;
    }

  }
  @include tablets {
    padding: $space-xl $space-m $space-l;
    flex-direction: column;
    justify-content: center;

    Image {
      width: 100%;
    }
  }
}
