.logo {
    display: inline-block;
    margin-right: 57px;

    .logoMobile {
        display: none;
    }

    @include media(mobiles, tablets, laptops) {
        margin-right: auto;

        .logoMobile {
            display: block;
        }

        .logoDesktop {
            display: none;
        }
    }
}
