.navigation {
    display: block;
    color: var(--text-primary);
    font-size: 1rem;

    a {
        color: var(--text-primary);
        text-decoration: none;

        &:hover {
            color: var(--brand-red);
        }
    }

    .navigationList {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.navButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
    padding: 16px var(--space-xxl);

    .imageWithCaption {
        display: flex;
        align-items: center;
    }

    img {
        filter: grayscale(1);
        margin-right: 16px;
    }

    &:hover {
        color: var(--brand-red);

        img {
            filter: grayscale(0);
        }
    }

    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('../../../src/assets/icons/shape.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }
}


.navButtonActive {
    color: var(--brand-red);

    img {
        filter: grayscale(0);
    }

    &::after {
        transform: rotate(0deg);
    }
}

.elementsList {
    list-style: none;
    margin: 0;
    padding: 0 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    li:first-child {
        margin-top: 12px;
    }

    li {
        margin-bottom: 12px;
        font-size: 0.82em;
    }
}

.renderElementsListLink {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: var(--text-paragraphs);

    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('../../../src/assets/icons/document.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 4px;
    }
}
